/*Hello this changed*/
body{ 
    background-color: rgb(18, 18, 65); 
    

}
#logo{ 
    width: 350px;
    height: 260px;
    margin-left: 540px;
    margin-top: 20px


}
.nav{ 
    float: right;
    margin-top: 120px;
    

}
ul{ 
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    /* overflow: hidden; */
}

li{ 
    display: block;
    float: left;
    gap: 60px;
    
}

li a{
    padding: 5px 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    transition: .3s;
    /* background-color: aquamarine; */
    border-bottom: 2px solid rgb(37, 90, 206);
   
}

li :hover{ 
    background-color: rgb(196, 144, 32);

}

.main{ 
    background-color: white;
    /* border-radius: 10px; */
    height: 900px;
    display: flex;
    padding: 40px;
    gap: 50PX;
   
}

#text{ 
    justify-content: center;
    color: rgb(18, 18, 65);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

#who{  
    color: rgb(18, 18, 65);
    font-family: 'Times New Roman', Times, serif;

}

#pic1{ 
    border-radius: 20px;
   
}

<<<<<<< HEAD
.project{
    background-color: url(image1.jpeg);
}
=======
/* changes added-style for #About */

.div1{
    background-image: url(./Newhope_logo-removebg-preview.png);

    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: inset;
    margin-left: 100px;
}

.div2 {
    background-image: url(./Newhope_logo-removebg-preview.png);

    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-left: 100px;

}

.div3 {
    background-image: url(./Newhope_logo-removebg-preview.png);

    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-left: 100px;

}

.main{
   display: none; 
    padding: 50px;
    background-color: antiquewhite;
    justify-content: center;
    /* align-items: center;
    text-align: center; */
    width: 1900px;
    height: 1900px;
}

#Vision {
    background-color: rgba(0, 0, 128, 0.412);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    border-radius: 20px;
    margin-bottom: 50px;
}

#Vision:hover {
    background-color: rgba(1, 1, 85, 0.287);
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;

    margin-left: 200px;
    margin-top: 00px;
    margin-bottom: 50px;

}

#Mission {
    background-color: rgba(0, 0, 128, 0.412);
    width: 90px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-left: 200px;
    /* margin-top: 50px; */
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px;

}

#Mission:hover {
    background-color: rgba(0, 0, 128, 0.287);
    width: 90px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;

}

#Object {
    background-color: rgba(0, 0, 128, 0.412);
    width: 90px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-left: 200px;
    padding: 5px;
    /* margin-bottom: 10px; */
    border-radius: 20px;

}

#Object:hover {
    background-color: rgba(0, 0, 128, 0.287);
    width: 90px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
         padding: 5px;
    margin-bottom: 50px;
    border-radius: 20px;

}


p {
    display: none;
    text-decoration: solid;
    color: white;
}
ul {
    display: none;
    color: white;
}

.div1a {
    background-color: rgba(0, 8, 255, 0.345);
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: inset;
    margin-left: 100px;
    display: none;
}

.div2a {
    background-color: rgba(4, 0, 255, 0.345);
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: inset;
    margin-left: 100px;
    display: none;

}

.div3a {
        background-color: rgba(43, 0, 255, 0.345);
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: inset;
    margin-left: 100px;
    display: none;

}
.div1A {
    display: flex;
}
.div2A {
    display: flex;

}

.div3A{
    display: flex;

}
h1 {
    margin-right: 600px;
    background-attachment: fixed
    }
/* spinner */
.loader {
    position: relative;
    width: 34px;
    height: 30px;
    margin-left: 10px;
  }
  .loader::after {
    content: '';
    position: absolute;
    margin-left: 10px;

    left: 0;
    bottom: 0;
    background: #fff;
    width: 34px;
    height: 12px;
    border-radius: 0 0 50px 50px;
    animation: move 0.5s linear infinite alternate;
  }
  .loader::before {
    content: '';
    position: absolute;
    margin-left: 25px;
    top: 0;
    background: #FF3D00;
    width: 14px;
    height: 14px;
    transform: translateX(-50%) rotate(0deg);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    100% { transform: translateX(-50%) rotate(360deg)}
  }
  @keyframes move {
    0% { transform: rotate(10deg)}
    100% { transform: rotate(-10deg)}
  }
  /* spinner end */
      
>>>>>>> 7a43f3de6484b1c1333dede8c75bb456b357da09
